!!!
%html{lang: "en", "ng-app" => "RabhApp"}
  %head
    %title Rails AngularJS Bower on Heroku 
  %body
    %div.container
      = yield
= csrf_meta_tags
= javascript_include_tag :application
= stylesheet_link_tag :application